<article data-uri="{{ default _ref _self }}" class="{{ componentVariation }}{{ if @root.locals.edit ' editing' }}"
  role="main">
  <div data-editable="headline">
    <h1>{{{ headlineText }}}</h1>
    <a href="{{bylineUrl}}">
      <h2>{{{ bylineText }}}</h2>
    </a>
  </div>
</article>